
.cabecalho{
    background-color: black;
    color: rgb(184, 55, 184);
    display: flex;
    padding:20px, 10px;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0%;
}

.partecima-img{ 
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.partecima-text{
    background-color: purple;
    color: #F24578;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.paomuitobunito{
    height: 300px;
}
.sardinhasmuitasbunitas{
    height: 300px;
}
.partemeio{
    background-color: purple;
}
.pescamarlogo{
    width: 100%;
    background-color: purple;
}
.partebaixo{
background-color:purple;
color:white;
display:flex;
column:
justify-content:center;

}