*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #424e61;
    display: flex;
    padding:20px, 10px;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0%;
}

.itemlista{
    color:white;
    display: inline-block;
    margin:0 16px;
}

.primeira-parte{
    background-image: linear-gradient(#424e61,#4EBFE9);
    height: 500px;
    color: white;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.escola{
    max-width: 100%;
    width: 100%;
}

.paragrafo-um{
    padding: 15px;
    font-size: 20px;
}

.paragrafo-dois{
    padding: 15px;
    font-size: 20px;
}

.quem-somos{
    padding: 24px 0;
}

.fotoestudante{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}